.add-on{
    min-height: 28px;
    min-width: 28px;
}

#mainContent{
    width:870px;
    height:800px;
    display: block;
    padding: 19px 38px;
    padding-right: 1px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    
}

.mainForm{
    padding: 19px 38px;
}
.mainForm .mainFormBlock{
    float:left;
    width: 377px;
}

.mainFormBlock{
    margin-left: 20px;
}

.inputLBLContainer{
    margin:10px 0px;
    float:left;
}

.inputStateTxtBox,.inputCityTxtBox{
    width:135px !important;
    margin-right: 17px;
    float:left;
}

.marginCreateBtn{
    margin-top: 60px;
    margin-left: 180px;
}

.textbox{
    float:left;
}

.textArea{
    width:310px;
    resize:none;
}

.usertype{
    min-width: 200px;
}

.go{
    float: left;
}

.buttons{
    margin-top: 20px;
}

.edit{
    margin-right: 20px;
}

.delete{
    margin-right: 150px;
}

#search{
    cursor: pointer;
}